<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Que Gato sou eu?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Que Gato sou eu?</h1>
    <div class="container">
        <form action="/cat" method="post" class="form-section">
            <label for="nome">Digite seu nome:</label>
            <input type="text" id="nome" name="nome" required placeholder="Informe seu nome">
            <button type="submit">Descobrir meu gato!</button>
        </form>
        <div class="resultado-section">
            {% if url_imagem %}
            <img src="{{ url_imagem }}" class="imagem_gato" alt="Gato aleatório" />
            <p class="nome_gato">{{ nome }}, esse gato é você!</p>
            {% else %}
            <!-- Sem imagem enquanto não for pesquisado -->
            {% endif %}
        </div>
    </div>

    {% with msg = get_flashed_messages()|first %}
                    {% if msg %}
                    <p class="mensagem">{{ msg }}</p>
                    {% endif %}
                {% endwith %}
    
</body>
</html>